* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pomodoro {
  background-color: hsl(203, 70%, 52%);
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
}

.counter {
  background-color: #eb3b5a;
  display: grid;
  justify-content: space-around;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

.round,
.goal {
  display: grid;
  margin: 1rem;
  font-size: 16px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.buttons {
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}

.buttons button {
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100px;
  font-size: 12.5px;
  height: 50px;
  border-radius: 50px;
}

button:focus {
  outline: dashed #fc5c65;
}

.focus {
  background-color: #f7b731;
}

.break-short {
  background-color: #26de81;
}

.break-long {
  background-color: #20bf6b;
}

.reset {
  background-color: #fc5c65;
}

.timer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  align-self: center;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  position: relative;
  width: 300px;
  height: 300px;
}

circle {
  fill: none;
  stroke-width: 3;
  stroke: #eb3b5a;
  stroke-dasharray: 250;
  stroke-dashoffset: 250; /* to animate the circle */
  stroke-linecap: square;
  animation: fades 2s linear forwards;
}

.timer .spinner .timer__time {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eb3b5a;
}

.timer .spinner .timer__time p {
  font-size: 3em;
  font-weight: bolder;
  letter-spacing: 4px;
}

h1,
h2 {
  font-size: 18px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin-top: 1.5rem;
}

.vertical {
  border-left: 2px solid white; /*to make a vertical line */
  height: 120px;
  position: absolute;
  left: 50%;
  margin: 1.5rem;
}

.show-message {
  display: block;
  text-align: center;
  transition: 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #eb3b5a;
  padding: 1rem 0;
  max-width: 40%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@keyframes fades {
  100% {
    stroke-dashoffset: 0;
  }
}
